* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to left, #86c463, #CDEABD );
}
 
main {
    background-color: white;
    border-radius: 3%;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.247);
    width: 600px;
    padding: 10px;
    margin: auto;
    text-align: justify;
}

h1 {
    color: rgb(207, 125, 18);
    text-align: center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.274);
}

h2{
    color: rgb(15, 15, 87);
}

p {
    text-align: justify;

}

     
